<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件中转站</title>
    <link rel="stylesheet" href="src/index.css">
    <script src="lib/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="container">
            <div id="file" v-if="listShow">
                <div class="file-item" v-for="(file, i) in files" :key="file.path">
                    <div class="file-item-title" :title="file.path" @click="showInExplorer(file.path)">{{file.name}}</div>
                    <button @click="remove(i)">删除</button>
                </div>
            </div>
            <div id="content" v-show="!listShow">
                <img src="public/copy.svg" id="target" />
                <p id="text">{{text}}</p>
            </div>
        </div>
        <div class="title">
        </div>
        <div id="option">
            <button @click="listShow = !listShow" :disabled="files.length === 0">文件列表</button>
            <button @click="clear()" :disabled="files.length === 0">清空</button>
        </div>
    </div>
</body>

<script src="src/index.js"></script>

</html>