<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件中转站</title>
    <link rel="stylesheet" href="../../global/global.css">
    <link rel="stylesheet" href="../../lib/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
<div id="app">
    <!-- 主体 -->
    <main id="main" class="swiper-container">
        <!-- Swiper -->
        <div class="swiper-wrapper">
            <!-- 拖拽复制 -->
            <div class="swiper-slide" id="transfer">
                <div class="container" ref="container">
                    <img src="../../../public/copy.svg" ref="target" alt="拖拽" title="拖拽此图标到指定目录"
                         :style="{cursor: available ? 'move' : 'default'}"/>
                    <p id="text">{{text}}</p>
                    <div class="option" v-show="!mini">
                        <button @click="listShow = !listShow" :disabled="!fileExist">文件列表</button>
                        <button @click="clear()" :disabled="!fileExist">清空</button>
                    </div>
                    <!-- 文件列表 -->
                    <div class="file" v-if="listShow" :style="{color: color, backgroundColor: backgroundColor}">
                        <div class="file-item" v-for="(file, i) in storageFiles" :key="file.path">
                            <label>
                                <input type="checkbox" v-model="file.checked">
                            </label>
                            <div class="file-item-title" :title="file.path" @click="showInExplorer(file.path)">
                                {{file.name}}
                            </div>
                            <button title="置顶" @click="toBottom(i)">取消置顶</button>
                        </div>
                        <div class="file-item" v-for="(file, i) in files" :key="file.path">
                            <label>
                                <input type="checkbox" v-model="file.checked">
                            </label>
                            <div class="file-item-title" :title="file.path" @click="showInExplorer(file.path)">
                                {{file.name}}
                            </div>
                            <button title="置顶" @click="toTop(i)">↑</button>
                            <button @click="remove(i)">删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 移动到指定目录 -->
            <div class="swiper-slide" id="move">
                <div class="container" ref="container">
                    <img src="../../../public/move.svg" alt="移动" title="拖拽文件到这里"/>
                    <p>{{text}}</p>
                    <div class="option" v-show="!mini">
                        <div class="path" :title="path" @click="showPathOnExplorer()">{{path || '未选择目录'}}</div>
                        <button @click="selectPath()">选择目录</button>
                    </div>
                </div>
            </div>
            <!-- 压缩 -->
            <div class="swiper-slide" id="compressing">
                <div class="container" ref="container">
                    <img src="../../../public/compress.svg" alt="压缩" title="拖拽文件（夹）到这里" class="icon"
                         @click="save()" :style="{cursor: available ? 'pointer' : 'default'}"/>
                    <p>{{text}}</p>
                    <div class="option" v-show="!mini">
                        <span>
                        <button @click="listShow = !listShow" :disabled="!fileExist">查看文件</button>
                        <button @click="clear()" :disabled="!fileExist" style="margin-left: 4px;">清空</button>
                        </span>
                        <label>
                            <select v-model="type">
                                <option value="zip">zip</option>
                                <option value="tar">tar</option>
                                <option value="tgz">tgz</option>
                            </select>
                        </label>
                    </div>
                    <!-- 文件列表 -->
                    <div class="file" v-if="listShow" :style="{color: color, backgroundColor: backgroundColor}">
                        <div class="file-item" v-for="(file, i) in files" :key="file.path">
                            <label>
                                <input type="checkbox" v-model="file.checked">
                            </label>
                            <div class="file-item-title" :title="file.path" @click="showInExplorer(file.path)">
                                {{file.name}}
                            </div>
                            <button @click="remove(i)">删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </main>
    <header id="title">
        <div class="circle"></div>
    </header>
</div>
</body>

<script src="index.js" type="module"></script>
<script src="module/transfer.js" type="module"></script>
<script src="module/move.js" type="module"></script>
<script src="module/compressing.js" type="module"></script>

</html>
